<!DOCTYPE html>
<html lang="en">
{% include 'partials/headers.html' %}
</head>
<body>
    <div class="d-flex justify-content-end bd-highlight mb-2 bg-light text-dark bg-opacity-75 rounded" style="padding-right: 10px;">
        <a class="me-3" href="/dashboard">Home</a>
        <a class="me-3" href="/tree_search">Tree Search</a>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <h1 class="text-light">Tree Companies</h1>
    </div>
    <div class="d-flex justify-content-between bd-highlight mb-2">
        <p class="text-light">Page is coming soon!</p>
    </div>
</body>
</html>